# Default ignored files
/shelf/
/workspace.xml
# Rider ignored files
/.idea.Projet.iml
/projectSettingsUpdater.xml
/modules.xml
/contentModel.xml
# Datasource local storage ignored files
/../../../../../../../../../../../:\Users\theol\Documents\M1\Programmation 3D\Projet\Projet\.idea\.idea.Projet\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
